{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1>About Us</h1>
    
        <p>
            {{ my_text }}. Call us on {{ my_number }}
            <!-- {{ my_list }} -->
            <br>
            {{ my_html|safe }} <!-- `safe` filter helps renders html tags-->
        </p>

        <ul>
        {% for item in my_list %}
            {% if item == 232 %}
                <li>{{ forloop.counter }} - {{ item|add:22 }}</li>
            {% elif item == 4665 %}
                <li>{{ forloop.counter }} - {{ item|add:1000 }}</li>
            {% else %}
                <li>{{ forloop.counter }} - {{ item }}</li>
            {% endif %}
        {% endfor %}
        </ul>

    {% endblock %}
</body>
</html>